USE [master]
GO
/****** Object:  Database [ControlCardSM]    Script Date: 26.04.2023 14:10:38 ******/
CREATE DATABASE [ControlCardSM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ControlCardSM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ControlCardSM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ControlCardSM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ControlCardSM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ControlCardSM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ControlCardSM]
GO
USE [ControlCardSM]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 26.04.2023 14:10:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[Id_Answers] [int] IDENTITY(1,1) NOT NULL,
	[Id_control_card] [int] NULL,
	[Id_Sub_Items] [int] NULL,
	[Id_User] [int] NULL,
	[text_answers] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Answers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[control_card]    Script Date: 26.04.2023 14:10:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[control_card](
	[Id_control_card] [int] IDENTITY(1,1) NOT NULL,
	[Id_Patern] [int] NULL,
	[serial_number] [nvarchar](50) NULL,
	[date_acceptance] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_control_card] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goods]    Script Date: 26.04.2023 14:10:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[Id_Goods] [int] IDENTITY(1,1) NOT NULL,
	[nazv_Goods] [nvarchar](max) NULL,
	[plan_Goods] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Goods] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pattern]    Script Date: 26.04.2023 14:10:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pattern](
	[Id_Patern] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Id_Goods] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Patern] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Points]    Script Date: 26.04.2023 14:10:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Points](
	[Id_Points] [int] IDENTITY(1,1) NOT NULL,
	[text_points] [nvarchar](50) NULL,
	[Id_Patern] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Points] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sub_Items]    Script Date: 26.04.2023 14:10:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sub_Items](
	[Id_Sub_Items] [int] IDENTITY(1,1) NOT NULL,
	[Id_Points] [int] NULL,
	[text_sub_items] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Sub_Items] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_users]    Script Date: 26.04.2023 14:10:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_users](
	[Id_Type_Users] [int] IDENTITY(1,1) NOT NULL,
	[nazv_users] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Type_Users] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.04.2023 14:10:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[login_users] [nvarchar](50) NULL,
	[pasword_users] [nvarchar](50) NULL,
	[Id_Type_Users] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD FOREIGN KEY([Id_control_card])
REFERENCES [dbo].[control_card] ([Id_control_card])
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD FOREIGN KEY([Id_User])
REFERENCES [dbo].[Users] ([Id_User])
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD FOREIGN KEY([Id_Sub_Items])
REFERENCES [dbo].[Sub_Items] ([Id_Sub_Items])
GO
ALTER TABLE [dbo].[control_card]  WITH CHECK ADD FOREIGN KEY([Id_Patern])
REFERENCES [dbo].[Pattern] ([Id_Patern])
GO
ALTER TABLE [dbo].[Pattern]  WITH CHECK ADD FOREIGN KEY([Id_Goods])
REFERENCES [dbo].[Goods] ([Id_Goods])
GO
ALTER TABLE [dbo].[Points]  WITH CHECK ADD  CONSTRAINT [FK__Points__Id_Pater__2D27B809] FOREIGN KEY([Id_Patern])
REFERENCES [dbo].[Pattern] ([Id_Patern])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Points] CHECK CONSTRAINT [FK__Points__Id_Pater__2D27B809]
GO
ALTER TABLE [dbo].[Sub_Items]  WITH CHECK ADD  CONSTRAINT [FK__Sub_Items__Id_Po__300424B4] FOREIGN KEY([Id_Points])
REFERENCES [dbo].[Points] ([Id_Points])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sub_Items] CHECK CONSTRAINT [FK__Sub_Items__Id_Po__300424B4]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([Id_Type_Users])
REFERENCES [dbo].[Type_users] ([Id_Type_Users])
GO
USE [master]
GO
